.media-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: auto;
    grid-gap: 10px; 
    align-items: center;
  }
  
  .media-preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd; 
    border-radius: 4px;
    transition: transform 0.3s ease; /* Add the transition property */
  }
  
  .media-preview :nth-child(1):nth-last-child(2),
  .media-preview :nth-child(2):nth-last-child(1) {
    grid-column: 1 / 3; 
  }
  
  @media (max-width: 500px) {
    .media-preview { 
       grid-template-columns: 1fr;
    }
  }

  .media-preview {
    grid-gap: 10px; /* Add bigger gap */
  }
  
  .media-preview img {
    border: 1px solid #ddd; /* Add border */
    border-radius: 4px; /* Add rounded corners */
  }

  
  .media-preview img {
    width: 100%;
    height: 150px;  
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;  
  }

  

  .media-container{
    position: relative;
  }


  .close-button {
    position: absolute;
    top: -2px;
    right: -7px;
    width: 32px;
    height: 32px;
    background-color: red; /* Your desired color */
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: rgb(164, 25, 25); /* Darker shade on hover */
  }