:root {
  --primary-color: #9bfcf7;
  --secondary-color: #f889c6;
  --font-color: #030000;
  --bg-color: #fff;
  --bg-secondary: #f7f7f7;
  --heading-color: #292922;
  --card-bg-color: #ffffff;
}

[data-theme="Dark"] {
  --primary-color: #343439;
  --secondary-color: #606062;
  --font-color: #e1e1ff;
  --bg-color: #141421;
  --heading-color: #818cab;
  --card-bg-color: #1c1c28;
}

[data-theme="Light"] {
  --primary-color: #f0f0f5;
  --secondary-color: #c0c0c0;
  --font-color: #1a1a1a;
  --bg-color: #ffffff;
  --heading-color: #333333;
  --card-bg-color: #ffffff;
}



body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 100%;
  overflow-x: hidden;
}

.top-bar {
  background-color: var(--primary-color);
  padding: 1rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Navigation styling */
nav {
  background-color: var(--primary-color);
  padding: 1rem;
  position:absolute;
  top: 0;
  right: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.theme-swap {
  border: none;
  background-color: var(--primary-color);
  color: var(--font-color);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-swap:hover {
  background-color: var(--secondary-color);
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.glass {
  display: flex;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.86);
  margin: 1rem;
  overflow: hidden;
}

.glass-option {
  display: block;
  color: var(--font-color);
  font-size: 1rem;
  padding: 0.25rem;
  text-align: center;
  transition: transform 0.5s ease;
  height: 30px;

}

.glass-content {
  display: block;
  width: 70%;
  padding: 1rem;
  overflow: hidden;
  height: 100px;
  position: relative;
}

.glass-option-selected{
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.selectedHighlight {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: 16px;
}

.arrow {
  width: 15%;
  justify-items: center;
  align-content: center;
  background-color: var(--primary-color);
}

.slide-up,
.slide-down {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.slide-up {
  animation-name: slideUp;
}

.slide-down {
  animation-name: slideDown;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
    /* Adjust based on .glass-option height */
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
    /* Adjust based on .glass-option height */
  }
}


.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.card {
  background-color: var(--card-bg-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 1rem 0;
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.card-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 4px solid var(--secondary-color);
}

.card-text h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--heading-color);
}

.card-text p {
  font-size: 1rem;
  color: var(--font-color);
}

.linkedin-link {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.linkedin-link:hover {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.linkedin-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.shapes-container{
  position: relative;
  height: 100%;
}

.shapes .circle,
.shapes .circle2,
.shapes .circle3 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  z-index: -1;
  opacity: 0.7;
  animation: rotate 20s linear infinite;
}

.shapes .circle {
  width: 200px;
  height: 200px;
  top: -400px;
  right: -97vw;
}

.shapes .circle2 {
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: -50px;
}

.shapes .circle3 {
  width: 150px;
  height: 150px;
  bottom: -150px;
  right: -80vw;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#gallery {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: var(--bg-secondary);
  padding: 5%;
}

#project-sidebar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.project-preview {
  background-color: var(--card-bg-color);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

.project-preview img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.project-title {
  font-size: 1.2rem;
  color: var(--heading-color);
  margin-top: 0.5rem;
}

.project-preview:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#project-expanded {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.5s ease;
  position: relative;
  left: -110%;
}

.project {
  display: none;
}

.project.active {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 1s ease, visibility 1s ease, transform 1s ease;
}

.project-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--font-color);
}

.close-p-expanded {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.close-p-expanded:hover {
  background-color: var(--secondary-color);
}


.project-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--font-color);
}

.close-p-expanded {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-p-expanded:hover {
  background-color: var(--secondary-color);
}

#contact-panel {
  position: absolute;
  right: -100%; /* Position offscreen to the right */
  transition: right 0.5s ease; /* Smooth transition */
}

#contact-panel.visible {
  right: 0; /* Bring it onscreen when active */
}

#projects-panel {
  position: relative;
  /* Other styling as needed */
}

.glass-option {
  cursor: pointer; /* Make sure the options are clickable */
}

/* Style glass options differently when selected, if needed */




@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .shapes .circle,
  .shapes .circle2,
  .shapes .circle3 {
    display: none;
  }
}